* {
    font-family: 'Lilita One', cursive;
    color:#51321C;
}
#goback {
    width: 80px;
    position: absolute;
    left: 20px;
    top: 20px;
}
#goback:hover {
    opacity: 75%;
}
input {
    outline: none;
}
body {
    background-color: #fcf2d2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 1300px;
    height: 800px;
    background-image: url(/img/gameBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#words {
    color:#ad581c;
    font-size: 70px;
}
.gameRules div {
    display: flex;
    flex-direction: column;
}
.gameRules {
    margin: 50px 0px;
    text-align: center;
    width: 800px;
    display: flex;
    justify-content: space-around;
}
.gameRules h2 {
    margin: 0px;
    font-size: 40px;
}
.gameRules p {
    color:#ad581c;
    background-color: #fcf2d2;
    padding: 10px;
    font-size: 30px;
    border-radius: 100px;
}
.wordInput {
    color:#ad581c;
    font-size: 30px;
    text-align: center;
    width: 600px;
    height: 80px;
    border: 0px;
    border-radius: 100px;
    margin-bottom: 50px;
}
.start {
    background-color: #fcf2d2;
    border: 0px;
    border-radius: 100px;
    margin-bottom: 50px;
    width: 300px;
    height: 70px;
    font-size: 25px;
}
.start:hover {

    background-color: #eccf6e;
}